li {
  list-style-type: none;
}

li > a {
  color: var(--yellow) !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.3s !important;
}
a:hover {
  color: #fee876 !important;
}

a {
  transition: color 4.2 !important;
}

.header {
  background-color: var(--green) !important;
  height: 97px;
  --bs-gutter-x: 0 !important;
}

.nested-row {
  align-items: flex-start !important;
}

.row {
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  height: 67px;
  width: 60px;
}

.school-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  font-size: 22px;
}

.column-navbar {
  padding-right: 1rem !important;
}

.green {
  --bs-bg-opacity: 1;
  background-color: var(--green) !important;
}

.shopping-cart-image {
  height: 20.82px;
  width: 25.11px;
  cursor: pointer;
}

.login {
  color: #fff;
  cursor: pointer;
}
